.button {
  border: 1px solid #000;
  padding: 10px 15px;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}

.button:active {
  background-color: #fab648;
  border-color: #fab648;
  color: #343741;
}

@media (hover: hover) {
  .button:hover {
    background-color: #fab648;
    border-color: #fab648;
    color: #343741;
  }
}
