.question__title {
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 620px) {
  .question__title {
    font-size: 1.2rem;
  }
}

.question__answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__answer {
  text-align: left;
  padding: 15px;
}

.question__code code {
  padding: 20px !important;
  font-size: 1rem;
  margin-bottom: 20px;
}
